/*
Theme Name:  Gebaby
Theme URI: http://underscores.me/
Author: Hudson Carolino
Author URI: http://hudsoncarollino.com.br
Description: Gebaby.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: Gebaby
Tags:

--------------------------------------------
ESTRUTURAÇÃO BASE (Hudson Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** ESTILOS GERAIS PARA AS PÁGINAS INTERNAS
**** PÁGINA INICIAL
**** PÁGINAS INTERNAS
**** EXTRAS
**** BOTÕES
**** @MEDIA

	font-family: 'Open Sans', sans-serif;
	font-family: 'Amatic SC', cursive;

*/
*{
	margin: 0;
	padding: 0;
}












